<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Successful Purchase</title>
  </head>
  <body>
    <h1>Thanks for your purchase!</h1>
    <p>Order reference: <%= order.reference %></p>
    <p>Your license key is below:</p>
    <pre><code><%= license.attributes.key %></code></pre>
  </body>
</html>